
<div class= "wrapper">
    <div class= "row">
        <div class= "col-sm-12 text-center">
            <img id="icon" src="/assets/img/images.png" alt="burger">
            <h1 id="header">Eat-Da-Burger!</h1>
        </div>
    </div>
    <div class= "row">
        <div class="col-md-1 col-lg-2"></div>
        <div id="menu" class= "col-sm-6 col-md-5 col-lg-4 text-right">
            <ol>
            {{#each burgers}}
            
                <p>
                  {{this.id}}. {{this.burger_name}}
                </p>
        
            {{/each}}
            </ol>
        </div>
        <div id="eaten" class= "col-sm-6 col-md-5 col-lg-4">
            <ol>
            {{#each burgers}}
            
                <p>
                  {{this.id}}. {{this.burger_name}}
                </p>
        
            {{/each}}
            </ol>
        </div>
    </div>
    <div id="whichBurger" class= "row">
        <div class="col-sm-12 text-center">
            <form class="create-update-form" action="/" method="POST">

			  <div class="form-group">
			    <input type="text" id="ca" name="burger_name">
			  </div>
			  
			  <button id="submit" type="submit">Submit Order</button>
			</form>
            <p>
                <span class= "info">Enter a burger you want to eat and click the submit button</span>
            </p>
        </div>
    </div>

    
    
</div>
